#banner-inicio {
    width: 100vw;
    height: 800px;
    background-image: url("../../../assets/images/img_inicio/img_inicio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 122px;
}
#banner-inicio h1,h2{
    color: var(--texto-claro);
    font-weight: 700;
    line-height: normal;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#banner-inicio h1{
    font-size: 64px;
    margin-bottom: 25px;
}
#banner-inicio h2{
    font-size: 34px;
}
.caracteristicas{
    padding: 20px 0 20px 0;
    display: flex;
    width: 600px;
    border-radius: 25px;
    background: #FFF; 
    flex-direction: row;
    text-align: start;
    align-items: center;
    margin: 20px 81px 20px 81px;
}
#caracteriticas-container{
    display: flex;
    text-align: center;
    background: var(--lila-oscuro);
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    margin: 0;
}
.caracteristicas-contenido h3{
    color: var(--lila-oscuro);
}
.caracteristicas-contenido p{
    font-weight: 700;
}
.caracteristicas-contenido a.btn{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: var(--texto-claro);
    background-color: var(--lila-oscuro);
    
}
.caracteristicas-contenido .button{
    justify-content: flex-end;
    display: flex;
    padding-right: 10px;
}
.caracteristicas-img{
    width: 40%;
    text-align: center;
}

@media (max-width: 990px) {
    #banner-inicio{
        padding: 0 10px 0 10px;
        height: 600px;
    }
    #banner-inicio h1{
        font-size: 48px;
    }
    #banner-inicio h2{
        font-size: 20px;
    }
    
}
