<nav class="navbar navbar-expand-lg navbar-status">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/images/img_inicio/logo_status.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">PERFILES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CURSOS Y EVENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">STATUS CARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PLANES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REVISTA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONÓCENOS</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" class="btn btn-lila-medio">Iniciar sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
